.home .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  width: 25rem;
  height: 3rem;
  color: var(--color);
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
}

.server-status-icon {
  height: 3.3rem;
}

.server-status-name {
  font-size: 1.5rem;
  color: var(--color);
}

.server-status-text {
  font-size: 0.6rem;
  color: #1ac707;
}

.server-status-infos .red {
  color: #ff0409;
}

.status-player-count {
  background: var(--shadow);
  min-width: 3rem;
  height: 3rem;
  border-radius: 16px;
  border: solid 2px var(--border-color);
}

.player-count {
  font-size: 1.5rem;
  margin: 0.4rem 0.5rem;
}

.status-player-count:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 10px;
  right: 10px;
  border-radius: 15px;
  border: solid 2px var(--background);
  background: #1ac707;
}

.red:after {
  background: #ff0409;
}

.home-bottom {
  position: relative;
  width: 100%;
  height: calc(100% - 80px - 8rem);
  display: flex;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-tab {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 6%;
  height: calc(80% - 1rem);
  justify-content: center;
  margin-bottom: 1rem;
}

.social-list {
  border-radius: 10px;
  height: 100%;
}

.social-block {
  display: flex;
  background: var(--background-social);
  width: 45px;
  height: 45px;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.social-block .icon-social {
  pointer-events: none;
  background-repeat: no-repeat;
  height: 55%;
  width: 55%;
  filter: var(--svg-color);
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background: var(--background);

  /* espaço entre os três grupos */
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Esquerda - alinha à esquerda por padrão */
.sidebar .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Centro - para centralizar o conteúdo */
.sidebar .center {
  flex-grow: 1; /* ocupa todo espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Direita - alinha à direita */
.sidebar .right {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.player-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 3rem;
  margin: 0 1.5rem;
  gap: 1rem;
}

.player-head {
  background: url("../../images/default/steve.png"), no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  transition: var(--transition);
  height: 3rem;
  width: 3rem;
  pointer-events: none;
  border-radius: 6px;
}

.player-name {
  font-size: 1rem;
}

.player-menu {
  color: var(--element-color);
  transform: rotate(270deg);
  pointer-events: none;
}

.play-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-starting-game {
  display: none;
  text-align: center;
}

.progress-bar {
  appearance: none;
  height: 10px;
  margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--background);
  border: solid 2px var(--element-color);
  border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--element-color);
  border-radius: 10px;
}

.sidebar .group-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

/* *******************************************************************************
 *                                                                             *
 * Instances tab                                                               *
 *                                                                             *
 ******************************************************************************/

.instance-popup {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: #000000b3;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.instances-tab {
  position: relative;
  background: var(--background);
  border-radius: 10px;
  padding: 1rem 3rem;
  max-width: 50%;
  width: 100%;
}

.close-popup {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  background: var(--shadow);
  height: 30px;
  width: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.instances-List {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.instances-tab p {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.instance-elements {
  border: 2px solid var(--border-color);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: border-color 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}

.instance-elements:hover {
  border-color: var(--element-color) !important;
}

.active-instance {
  border-color: var(--element-color) !important;
}
